.product-name {
    font-size: 18px; /* Default font size for large screens */
  }
  
  @media (max-width: 1200px) {
    .product-name {
      font-size: 16px; /* Font size for tablets or medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .product-name {
      font-size: 14px; /* Font size for mobile screens */
    }
  }
  
  @media (max-width: 576px) {
    .product-name {
      font-size: 12px; /* Smaller font size for very small screens */
    }
  }

/* Wrapper for the horizontal scroll */
.horizontal-scroll-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Full width */
    scroll-behavior: smooth; /* Smooth scroll behavior */
    display: flex;
    justify-content: center; /* Center the content */
  }
  
  .horizontal-scroll-container {
    display: flex;
    width: max-content;  /* Make the width fit content */
  }
  
  .product-card-wrapper {
    flex: 0 0 auto;
    width: 180px;   /* Adjust width of each card */
    margin: 0 10px; /* Space between cards */
  }
  
  /* Optional: Hide scrollbar in a clean way on modern browsers */
  .horizontal-scroll-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .horizontal-scroll-wrapper {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;      /* Firefox */
  }
  